* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* color: wheat; */

}

.container {
    height: 100%;
    padding: 20px;
    background-color: rgb(153, 181, 195);


}

.tela-login {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 20px;

    height: 100%;
    /* border: 30px solid white;
    border-radius: 20px; */
    background-color: rgb(247, 249, 249);
    border-radius: 40px;


}


.coluna1 {
    padding: 40px;
    height: 100%;
    width: 50%;
}

.coluna1 h1 {
    font-size: 70px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.coluna1 p {
    font-size: 40px;
    color: black;
    margin: 30px;
}

.coluna1 img {
    margin: 0;
    padding: 0;
    /* height: 100%; */
    border-radius: 40px;
    width: 100%;
}

.coluna2 {
    width: 50%;
}

.coluna2 form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
}

.coluna2 form input {
    margin: 10px;
    height: 40px;
    width: 300px;
    border-radius: 40px;
    border-width: 1px;
    border-color: rgb(45, 146, 234);
    background-color: rgb(247, 249, 249);
    ;
}

.coluna2 form a {
    font-size: 12px;
    text-decoration: none;
    color: grey;
    text-align: right;
    display: block;
    width: 100%;
    padding-right: 30%;
    margin: 10px;
}

.coluna2 form .button {
    margin: 10px;
    height: 40px;
    width: 300px;
    border-radius: 10px;
    border-width: 1px;
    background-color: royalblue;

}

.coluna2 form span {
    font-size: 12px;
    color: grey;
    margin: 40px;
    margin-top: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.coluna2 form ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.google {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 40px;
    width: 300px;
    height: 50px;
    color: grey;
    font-size: 15px;
    text-decoration: none;

}

.contas-socias img {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.facebook {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 40px;
    width: 300px;
    height: 50px;
    color: grey;
    font-size: 15px;
    text-decoration: none;

}