/* Cabeçalho */
header {
    background-color: #1637f1;
    color: #f6faf7;
    padding: 20px;
    text-align: center;
}

/* Conteúdo principal */
main {
    padding: 20px;
    font: 1em sans-serif;
    text-align: center;
    margin-top: 80px;
}

/* Perfil do usuário */
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    font: 1.5em sans-serif;
}

/* Foto do perfil */
.profile-picture img {
    border-radius: 90%;
    border: 2px solid rgb(126, 179, 226);
    transition: transform 0.3s ease-in-out;
}

.profile-picture img:hover {
    transform: scale(1.1);
}

/* Descrição do perfil */
.profile-info p {
    padding: 10px;
}

/* Rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    width: 100%;
}

/* Mensagem de erro */
.error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
    display: none;
}